# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Data & Models =====
backend/ml/datasets/
backend/ml/models/
backend/ml/notebooks/

# ===== Secrets =====
.env
*.key
*.keystore
*.jks

# ===== OS =====
.DS_Store
Thumbs.db
